@using MvcStok.Models.Entity;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Bu bir Mvc projesidir. Selen Erkılıç tarafından 5.12.2020 tarihinde tamamlanmıştır. :)
    İletişim: selenerkilic@gmail.com </h2>

